:root {
    --bg-body: #FFFFFF;
    --bg-navbar: #2a80b9;
    --bg-navbar-light: #81bae0;
    --color-text: #2a8fcb;
    --color-text-fonce: #2a3f52;
}

.pagecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: var(--bg-navbar-light);
}

.totalpanier{
    background-color: var(--bg-body);
}
